<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3><a href="/new">Add message</a></h3>
    <p>Welcome to <%= title %></p>
    <% messages.forEach(message => { %>
    <div>
      <p><%= message.user %></p>
      <p><%= message.added %></p>
      <p><%= message.text %></p>
    </div>
    <% }) %>
  </body>
</html>
